<?xml version='1.0' encoding='UTF-8'?>
<org.codefirst.SimpleThemeDecorator>
  <cssUrl>{{ simple_theme_css_url }}</cssUrl>
  <jsUrl>{{ simple_theme_js_url }}</jsUrl>
</org.codefirst.SimpleThemeDecorator>
