<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>{{ item.name }}</name>
  <description></description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>{{ item.cores }}</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.28.1">
    <host>{{ item.host }}</host>
    <port>{{ item.port }}</port>
    <credentialsId>new ssh key</credentialsId>
    <launchTimeoutSeconds>210</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>hetzner Ubuntu18.04</label>
  <nodeProperties>
    <hudson.slaves.EnvironmentVariablesNodeProperty>
      <envVars serialization="custom">
        <unserializable-parents/>
        <tree-map>
          <default>
            <comparator class="hudson.util.CaseInsensitiveComparator"/>
          </default>
          <int>4</int>
          <string>PATH</string>
          <string>$PATH:/home/jenkins/.local/bin</string>
          <string>PYTHON26</string>
          <string>/srv/python2.6/bin/python2.6</string>
          <string>PYTHON27</string>
          <string>/srv/python2.7/bin/python2.7</string>
          <string>PYTHON36</string>
          <string>/srv/python3.6/bin/python3.6</string>
        </tree-map>
      </envVars>
    </hudson.slaves.EnvironmentVariablesNodeProperty>
  </nodeProperties>
</slave>
